
body {
    line-height: 1.75em;
    margin-right: auto;
    margin-left: auto;
    width: 900px;
    height: 100%;
    text-align: center;
    font-family: monospace;
    font-size: 1.25em;
    background-image: url(/home/ruth/full-moon-pizza/gallery/taste.jpg);
  }
  
  
  .background {
    background-color: #EEF0F2;
    position: absolute;
    border-width: 15px;
    border-color: #0B4F6C;
    border-style: outset;
    width: 70%;
  }
  
  
  .crust-container {
    border-width: 5px;
    border-style: inset;
    border-color: #145C9E;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .grid-container {
    display: grid;
    grid-template-rows: 180px 260px;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
  
  
  .grid-hover:hover {
    animation-name: rainbow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 150%;
  }
  
  
  .hrclass {
    width: 40%;
    border: inset;
    border-width: 2px;
  }
  
  
  .hover:hover {
    border-color: red;
    border-style: inset;
    border-size: 5px;
    color: red;
    margin: auto;
    padding: auto;
    animation-name: rainbow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  
  .meat-container {
    border-style: inset;
    border-width: 5px;
    border-color: #145C9E;
    width: 375px;
    margin-right: auto;
    margin-left: auto;
  }
  
  
  .personal-info-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  
  .size-container {
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .submit {
    background: #0B4F6C;
  }
  
  
  .submit:hover {
    width: 25%;
    font-size: 1.2em;
    background: grey;
    border-style: inset;
    border-size: 5px;
    border-color: grey;
  }
  
  
  .vegi-container {
    border-style: inset;
    border-width: 5px;
    border-color: #145C9E;
    width: 375px;
    margin-right: auto;
    margin-left: auto;
  }
  
  
  @keyframes rainbow {
      0% {
        color: red;
      } 
  
      25% {
        color: black;
      }
    
      50% {
        color: red;
      }
    
      75% {
        color: black;
      }
    
      100% {
        color: red;
      }
      }
  
  
  
  
  /************** MEDIA QUERIES *****************/
  
  /*--------TABLET VIEW-------*/
  @media (max-width: 768px) {
    .background {
      width: 95%;
    }
    
    .grid-container {
      grid-template-rows: 180px 300px;
    }
    
    .grid-hover:hover {
    animation-name: rainbow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 120%;
  }
    
    .crust-container {
      width: 275px;
    }
    
    .sauce-container {
      width: 275px;
    }

    .meat-container {
      width: 275px;
    }
    
    .vegi-container {
      width: 275px;
    }
    
    .submit:hover {
    width: 25%;
    font-size: 1em;
  }
  }
  
  
  
  
  
  /*----------------LARGE PHONE VIEW-------------*/
  @media (max-width: 425px) {
    .grid-container {
      grid-template-rows: 180px 300px;
    }
    
    .crust-container {
      width: 150px;
    }
    
    .sauce-container {
      width: 150px;
    }
    
    .meat-container {
      width: 150px;
    }
    
    .vegi-container {
      width: 150px;
    }
    
    #special-instructions {
      max-width: 300px;
    }
  }
  
  
  
  
  /*------------------MEDIUM PHONE VIEW---------------*/
  @media (max-width: 375px) {
    .background {
      width: 90%;
    }
    
    .grid-container {
      font-size: 0.7em;
    }
    
    .crust-container {
      width: 120px;
    }
    
    .sauce-container {
      width: 120px;
    }
    
    .meat-container {
      width: 120px;
    }
    
    .vegi-container {
      width: 120px;
    }
  }
  
  
  
  
  /*------------------SMALL PHONE VIEW---------------*/
  @media (max-width: 320px) {
    .crust-container {
      width: 105px;
    }
    
    .sauce-container {
      width: 105px;
    }
    
    .meat-container {
      width: 105px;
    }
    
    .vegi-container {
      width: 105px;
    }
    
    .grid-container {
      font-size: 0.7em;
    }
    
    #special-instructions {
      max-width: 250px;
    }
  }
  
.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.checkout:hover {
  background-color: rgb(81, 68, 153);}

  