
body {
    line-height: 1.75em;
    margin-right: auto;
    margin-left: auto;
    width: 900px;
    height: 100%;
    text-align: center;
    font-family: monospace;
    font-size: 1.25em;
    background-image: url(/home/ruth/full-moon-pizza/gallery/taste.jpg);
  }
  
  
  .background {
    background-color: #EEF0F2;
    position: absolute;
    border-width: 15px;
    border-color: #0B4F6C;
    border-style: outset;
    width: 70%;
  }
  
  
  .crust-container {
    border-width: 5px;
    border-style: inset;
    border-color: #145C9E;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .grid-container {
    display: grid;
    grid-template-rows: 180px 260px;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
  
  
  .grid-hover:hover {
    animation-name: rainbow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 150%;
  }
  
  