h1{
    font-size: 50px;
    text-size-adjust: 100px;
    color:black;
    font-weight:4000;
    font-family: Trade Winds ;
    text-align: center;
}
body{
 background-image: url(/home/ruth/full-moon-pizza/gallery/SHI.gif);
}