h1{
    font-size: 50px;
    text-size-adjust: 100px;
    color:black;
    font-weight:4000;
    font-family: Trade Winds ;
    text-align: center;
    position: initial;
}
h2{
  font-family: Trade Winds ;
}
body{
 background-image: url("../gallery/SHI.gif");
}
.link{
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
.form{
  text-align:center;
  background-size:100%;
  background-repeat: no-repeat;
  height: 400px;
  margin: 100px;
  background-color:#211e1e;
  color:white;
  border-radius:10px;
  width:700px;
  background-position: left;
}
  


































