h1{
    font-size: 50px;
    text-size-adjust: 100px;
    color:black;
    font-weight:4000;
    font-family: Trade Winds ;
    text-align: center;
}
body{
 background-image: url(/home/ruth/full-moon-pizza/gallery/SHI.gif);
}
.link{
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
.form{
  text-align:center;
  background-size:100%;
  background-repeat: no-repeat;
  height: 400px;
  margin: 100px;
  background-color:#211e1e;
  color:white;
  border-radius:10px;
  width:700px;
  background-position: left;
}
  




































/* /* .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 700px;
  margin:400;
  text-align: center; 
}
.head{
    position: left;
    text-size-adjust: 70px;
    color:black;
    font-weight:2000;
    font-family: Trade Winds ;
    text-align: center;
     /* background-image: linear-gradient(red, yellow); */
    /* background-size: cover;
    width: 100%;
}
.container{
    background-image: url(/home/ruth/full-moon-pizza/gallery/we.jpg;)
}
.column {
    float: left;
    width: 33.33%;
    padding: 20x;
  }
  
  Clear floats after image containers
  .row::after {
    content: "";
    clear: both;
    display: table;
    height: 100P;
  }
h1{
     text-size-adjust: 70px;
    color:black;
    font-weight:2000;
    font-family: Trade Winds ;
    text-align: center;
    background-image: linear-gradient(red, yellow);


} */
  

































































/* .head{
    font-family: 'Times New Roman', Times, serif;
    text-size-adjust: 70px;
    color:black;
    font-weight:2000;
    font-family: Trade Winds ;
    text-align: center;
    background-image: linear-gradient(red, yellow);
    background-size: cover;
    width: 100%;
}
marquee{
    transition-duration: 0s;
}
#layer{
    font-size: 100px;
    height: 5px;
    width: 5px;
}
form{
     background-image: url(/home/ruth/full-moon-pizza/gallery/yum.jpg);
    text-align:center;
    background-size:100%;
    background-repeat: no-repeat;
    height: 700px;
    margin: 100px;
    background-color:#211e1e;
    color:white;
    border-radius:10px;
    height: 400px;
    width:400px;
}

h2{
font-family: Trade Winds ;
text-align: center;
text-size-adjust: 100px;
}
.order{
    font-family:Akronim ;
    text-align: center; 

} */
